table, th, td {
    border: 1px solid rgb(197, 116, 170);width: 600px; ;
    border-collapse: collapse;
    border width:800px
    margin: 0;
    width: 600px;
    height: 50px;
    background-color:pink

    }

h1  {
    style: "font-size: 60px";
    color: mediumvioletred;
    text-align: center;
  display:inline-flexbox;
  margin: 0;
  width: 600px;
}

h2  {
    style: "font-size: 40px";
    color:#fca400;
    text-align: center;
    display: inline-flexbox;
    margin: 0;
    width: 600px;
}


.flex-container {
    display: flex;
    flex-direction:  row;
    justify-content: center;
    height: 200px;
    align-items: center;
}